In [1]:
import array

In [2]:
a =array.array('i',[2,4,6,8,10,24,-6,9,-2])  # small i stands for signed integer. it can take negative values

In [3]:
a

array('i', [2, 4, 6, 8, 10, 24, -6, 9, -2])

In [4]:
a =array.array('f' ,[4,7,8,2,4,5])

In [5]:
a

array('f', [4.0, 7.0, 8.0, 2.0, 4.0, 5.0])

In [6]:
b =array.array('I' ,[9,6,8,9,10,39,3])  # upper I does not take negative value

In [7]:
b

array('I', [9, 6, 8, 9, 10, 39, 3])

In [8]:
c =array.array('u' ,['t','y','r','p','s']) # unicode takes only single character

In [9]:
c

array('u', 'tyrps')

In [10]:
d =array.array('i' ,[9,6,8,23,5,10])

In [11]:
print(d.buffer_info()) # address of the array and the size of the array

(2363783407200, 6)

In [12]:
a.typecode # to know the type of arry it is

'f'

In [13]:
d.append(45) # to append a value

In [14]:
d

array('i', [9, 6, 8, 23, 5, 10, 45])

In [15]:
d.reverse()

In [16]:
d

array('i', [45, 10, 5, 23, 8, 6, 9])

In [17]:
d.append(31)

In [18]:
d

array('i', [45, 10, 5, 23, 8, 6, 9, 31])

In [19]:
d[1]

10

In [20]:
for k in range(len(d)):
    print(d[k])

45
10
5
23
8
6
9
31

In [21]:
for a in d:
    print(a)

45
10
5
23
8
6
9
31

In [25]:
from array import *
k =array('I',[3,54,32,12,45,67,89,27])
newarry = array(k.typecode,(a for a in k))

for j in newarry:
    print(j)

3
54
32
12
45
67
89
27

In [29]:
k =array('I',[3,54,32,12,45,67,89,27])
newarry = array(k.typecode,(a for a in k))

for j in newarry:
    print(j)
    #newarry.append(j)

3
54
32
12
45
67
89
27

In [30]:
newarry

array('I', [3, 54, 32, 12, 45, 67, 89, 27])

In [31]:
k =array('I',[3,54,32,12,45,67,89,27])
newarry = array(k.typecode,(a *a for a in k))

for j in newarry:
    print(j)

9
2916
1024
144
2025
4489
7921
729

In [33]:
k =array('I',[3,54,32,12,45,67,89,27])
newarry = array(k.typecode,(a for a in k))

count =0
while count < len(newarry):
    print(newarry[count])
    count += 1

3
54
32
12
45
67
89
27